{%block footer %}
{% set routeParam = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
<div class="container">
  <ul class="nav navbar-nav">
    <li class="hl-lvl-0">
      <a href="{{ path('home', {'url': 'agb'}) }}" title="AGB" class="{% if path('home', {'url': 'agb'}) is sameas(routeParam) %}text-highlight-color{% endif %}">AGBs</a>
    </li>
    <li class="hl-lvl-0">
      <a href="{{ path('home', {'url': 'cancellationpolicy'}) }}" title="Widerrufsbelehrung" class="{% if path('home', {'url': 'cancellationpolicy'}) is sameas(routeParam) %}text-highlight-color{% endif %}">Widerrufsbelehrung</a>
    </li>
    <li class="hl-lvl-0">
      <a href="{{ path('home', {'url': 'privacypolicy'}) }}" title="Datenschutz" class="{% if path('home', {'url': 'privacypolicy'}) is sameas(routeParam) %}text-highlight-color{% endif %}">Datensicherheit/Datenschutz</a>
    </li>
    <li class="hl-lvl-0">
      <a href="{{ path('home', {'url': 'site_notice'}) }}" title="Impressum" class="{% if path('home', {'url': 'site_notice'}) is sameas(routeParam) %}text-highlight-color{% endif %}">Impressum</a>
    </li>
  </ul>
</div>
{%endblock %}