{# header block#}

{% block header %}
<div class="navbar-header">
  <a href="{{ path('home') }}" title="Home" class="logo">
    <img src="{{ asset('bundles/distsysshop/logo.png') }}" alt="logo" title="Home">
  </a>
</div>{#  /.navbar-header #}

<div class="container">
  <div class="navbar-collapse collapse">
    <nav>
    {% render(controller('DistSysShopBundle:Navigation:index')) %}
    </nav>



 {#  /.top-links #}

  </div>{#  /.navbar-collapse collapse #}

</div>{#  /.container #}
{% endblock %}
