<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block title %}DistSys{% endblock %}</title>
    {% block stylesheets %}
    {% stylesheets
		  '@DistSysShopBundle/Resources/public/css/styles.css'
		  filter='yui_css'
      output='css/min.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}">
	  {% endstylesheets %}
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/distsysshop/images/favicon.ico') }}">
  </head>

  <body class="{% block bodyClasses %}{% endblock %}">
    <header class="{% block headerClasses %}navbar navbar-inverse navbar-static-top {% endblock %}">
      {% embed 'DistSysShopBundle:Scaffolding:header.html.twig' %}{% endembed %}
    </header>

    <section id="main" class="{% block mainClasses%}container {% endblock %}">
        {% block main %}{% endblock %}
    </section><!--/.main-->

    <footer class="{% block footerClasses%}navbar navbar-default navbar-fixed-bottom container {% endblock %}">
      {% embed 'DistSysShopBundle:Scaffolding:footer.html.twig' %}{% endembed %}
    </footer>

    {% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

	  {% javascripts 
	      '@DistSysShopBundle/Resources/public/js/main.js'
        filter='yui_js' 
        output='js/min.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% endblock %}


  </body>
</html>
