{% extends 'DistSysShopBundle::Scaffolding/scaffolding.html.twig' %}

{% block main %}
Hello {{ url }}!

{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
<a href="{{ path('login') }}">login</a>
{% else %}
<a href="{{ path('logout') }}">logout</a>
{% endif %}
{% endblock %}