{% extends 'DistSysShopBundle::Scaffolding/scaffolding.html.twig' %}

{% block main %}
{% if site is defined %}
<h2>{{ site.content|raw }}</h2>
{% else %}

<h2>Willkommen im DistSys WebShop</h2>
<p>Hier finden Sie alles was sie benötigen.</p>

{% endif %}

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>

{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
<a href="{{ path('login') }}">login</a>
{% else %}
<a href="{{ path('logout') }}">logout</a>
{% endif %}
{% endblock %}