
<h2 class="heading style1">Kategorie {{ cat.id }}</h2>


    <div class="row">
      <div class="col-sm-2">
        <strong>Bezeichnung: </strong>
      </div>
      <div class="col-sm-2">
        {{ cat.name }}
      </div>
   </div>
        

      
    

