{% extends 'DistSysShopBundle::Scaffolding/scaffolding.html.twig' %}

{% block main %}


<h2 class="heading style1">User Verwalten</h2>
                        <table class="table table-condensed" width="500px" cellpadding="0" cellspacing="0">
                          <thead>
                            <tr>
                              <th>Username</th>
                              {#  <th width="100">Bestellungen</th> #}
                              <th >Anzeigen</th>
                              <th>Bearbeiten</th>
                              <th >Löschen</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for user in users %}
                            <tr>
                              <td><p>{{ user.username }}</p></td>
                              {#<td><a href="">Bestellungen</a></td>#}
                              <td><a class="userShow btn btn-success"  href="{{ path('admin_user_show', {'id': user.id}) }}">Show</a></td>
                              <td><a class="userEdit btn btn-primary"  href="{{ path('admin_user_edit', {'id': user.id}) }}">Edit</a></td>
                              <td><a class="userDelete btn btn-danger"  href="{{ path('admin_user_remove', {'id': user.id}) }}">Remove</a></td>

                            </tr>
                            {% endfor %}
                          </tbody>
                          <tfoot>
                            <tr>
                              <td colspan="5"></td>
                            </tr>
                          </tfoot>
                        </table>
                        
    <div id="render">
    
     </div>
    


{% endblock %}